main {
  min-height: 80vh;
}

.rating span {
  margin: 0.1rem;
}

.rating svg {
  color: #f8e825;
}

.rating-text {
  font-size: 0.8rem;
  font-weight: 600;
  padding-left: 0.5rem;
}

.product-title {
  height: 2.5em; /* Set a fixed height */
  overflow: hidden; /* Hide overflow content */
  text-overflow: ellipsis; /* Add ellipsis for long text */
  white-space: nowrap; /* Prevent wrapping */
}

table td,
table th {
  text-align: center;
}

.review {
  margin-top: 30px;
}

.review h2 {
  font-size: 24px;
  background: #dfe9da;
  padding: 10px;
  border: 1px solid #ddd;
}

.review button {
  margin-top: 10px;
}

.carousel-caption {
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}

/* Navigation styling */
.navbar {
  /* background-color: #38761d !important; */
  background-image: linear-gradient(#5f914a, #38761d) !important;
}

.btn-light {
  background-color: #afc8a4;

  &:hover {
    background-color: #dfe9da;
    border: 1px solid #dfe9da;
  }
}

.btn-primary {
  background-color: #38761d !important;

  &:hover {
    background-color: #5f914a !important;
    border: 1px solid #5f914a !important;
  }
}

.card {
  border-color: #38761d;
}

h1,
h2,
h3,
a,
strong,
.list-group-item,
.form-label,
.form-control {
  color: #38761d;
}

.form-check-input:checked {
  background-color: #38761d;
  border-color: #38761d;
}

.active > .page-link {
  background-color: #38761d;
}

.dropdown-item {
  &.active {
    background-color: #38761d;
    color: white;
  }
  &:hover {
    background-color: #dfe9da;
  }
}
.alert-info,
.alert-success {
  background-color: #dfe9da;
  border-color: #dfe9da;
  color: #38761d;
}
